<a href="https://colab.research.google.com/github/nuralimatur2025-wq/KKA-X.2-Semester-1-nuralima/blob/main/1_Fungsi_print_alim_X_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Nur Alimatur Rohmah

Kelas: X.2

Nomor absen: 26

#Penampilan Teks Bebas

In [ ]:
print("hallo word")

hallo word

#Menampilkan Nilai Variabel

In [ ]:
berat_badan = 50

print(berat_badan)

50

In [ ]:
Nama = "Nur Alimatur Rohmah"
print(Nama)

Nur Alimatur Rohmah

#Menampilkan Tekas Bebas dan Nilai Variabel

In [ ]:
print("berat badan saya adalah", berat_badan, "Kg.")

berat badan saya adalah 50 Kg.

In [ ]:
print("Perkenalkan nama saya, " + Nama + ".")

Perkenalkan nama saya, Nur Alimatur Rohmah.

In [ ]:
print("Berat badan saya adalah " + str(berat_badan) + "Kg.")

Berat badan saya adalah 50Kg.

In [ ]:
print(f"Perkenalan nama saya {Nama}.")

Perkenalan nama saya Nur Alimatur Rohmah.

In [ ]:
print(f"Berat badan saya adalah {berat_badan}.")

Berat badan saya adalah 50.

#Escape Character

In [ ]:
print("Nama: Nur Alimatur Rohmah")
print("Kelas: X.2")
print("No. Absen: 26")

Nama: Nur Alimatur Rohmah
Kelas: X.2
No. Absen: 26

In [ ]:
print("""Nama: Nur Alimatur Rohmah
Kelas: X.2
No. Absen: 26""")

Nama: Nur Alimatur Rohmah
Kelas: X.2
No. Absen: 26

In [ ]:
print("Nama\t\t: Nur Alimatur Rohmah\nKelas\t\t: X.2\nNo. Absen\t: 26")

Nama		: Nur Alimatur Rohmah
Kelas		: X.2
No. Absen	: 26

In [ ]:
print('Nama\t\t: Ja\'far shodiq\nKelas\t\t: X.2\nNo. Absen\t: 15')

Nama		: Ja'far shodiq
Kelas		: X.2
No. Absen	: 15

In [ ]:
print("Nama\t\t: Ja'far shodiq\nKelas\t\t: X.2\nNo. Absen\t: 15")

Nama		: Ja'far shodiq
Kelas		: X.2
No. Absen	: 15

In [ ]:
print('Bu Shinta mengatakan "Semua bisa dipelajari"')

Bu Shinta mengatakan "Semua bisa dipelajari"

In [ ]:
print("Lokasi file tugas KKA: Local disk D:\\KKA\\Tugas")

Lokasi file tugas KKA: Local disk D:\KKA\Tugas

In [45]:

print("Jadwal Pelajaran Kelas X.2 - MAN Demak 2025/2026")
print("================================================\n")

print("Jam\tSenin\t\tSelasa\t\tRabu\t\tKamis\t\tJumat\t\tSabtu")

print("Jam 1\tMat Wajib\tB. Arab\t\tB. Jawa\t\tFisika\t\tMat Wajib\tBiologi")
print("Jam 2\tMat Wajib\tB. Arab\t\tB. Jawa\t\tFisika\t\tMat Wajib\tBiologi")
print("Jam 3\tB. Indo\t\tPJOK\t\tFikih\t\tSejarah\t\tPend. Pancasila\tEkonomi")
print("Jam 4\tB. Indo\t\tPJOK\t\tFikih\t\tSejarah\t\tPend. Pancasila\tEkonomi")
print("Jam 5\tB. Arab\t\tB. Indo\t\tKimia\t\tBiologi\t\tSeni Musik\tSKI")
print("Jam 6\tB. Arab\t\tB. Indo\t\tKimia\t\tGeografi\t-\t\tSKI")
print("Jam 7\tB. Ing\t\tAkidah A.\tSeni Musik\tGeografi\t-\t\tQur\'an Hadist")
print("Jam 8\tB. Ing\t\tAkidah A.\tPKWU\t\tSosiologi\t-\t\tQur\'an Hadist")
print("Jam 9\tB. Ing\t\tBK\t\tPKWU\t\tSosiologi\t-\t\tKKA")
print("Jam 10\t-\t\t-\t\t-\t\t-\t\t-\t\tKKA")

Jadwal Pelajaran Kelas X.2 - MAN Demak 2025/2026
================================================

Jam	Senin		Selasa		Rabu		Kamis		Jumat		Sabtu
Jam 1	Mat Wajib	B. Arab		B. Jawa		Fisika		Mat Wajib	Biologi
Jam 2	Mat Wajib	B. Arab		B. Jawa		Fisika		Mat Wajib	Biologi
Jam 3	B. Indo		PJOK		Fikih		Sejarah		Pend. Pancasila	Ekonomi
Jam 4	B. Indo		PJOK		Fikih		Sejarah		Pend. Pancasila	Ekonomi
Jam 5	B. Arab		B. Indo		Kimia		Biologi		Seni Musik	SKI
Jam 6	B. Arab		B. Indo		Kimia		Geografi	-		SKI
Jam 7	B. Ing		Akidah A.	Seni Musik	Geografi	-		Qur'an Hadist
Jam 8	B. Ing		Akidah A.	PKWU		Sosiologi	-		Qur'an Hadist
Jam 9	B. Ing		BK		PKWU		Sosiologi	-		KKA
Jam 10	-		-		-		-		-		KKA

In [ ]:
print('Bu Shinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\MAN Demak\\Jadwal Piket."')
print("Senin\t\tSelasa\t\tRabu")
print("Jielo\t\tHasbi\t\tNaufal")
print("Azam\t\tAida\t\tNurul")

Bu Shinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\Jadwal Piket."
Senin		Selasa		Rabu
Jielo		Hasbi		Naufal
Azam		Aida		Nurul

#Paramenter Fungsi Print

In [ ]:
nama_siswa_1 = "Jielo"
nama_siswa_2 = "Aida"
nama_siswa_3 = "Dani"

print(nama_siswa_1, end="-")
print(nama_siswa_2, end="-")
print(nama_siswa_3, end="-")

Jielo-Aida-Dani-

In [ ]:
nama_siswa_1 = "Jielo"
nama_siswa_2 = "Aida"
nama_siswa_3 = "Dani"
nama_siswa_4 = "Nurul"

print(nama_siswa_4, end="/")
print(nama_siswa_2, end="/")
print(nama_siswa_1, end="/")
print(nama_siswa_3, end="/")

Nurul/Aida/Jielo/Dani/

In [47]:
nama_siswa_5 = "Hasbi"
nama_siswa_6 = "Habibi"
nama_siswa_7 = "Rendra"
nama_siswa_8 = "Naufal"

print(nama_siswa_5, nama_siswa_6, nama_siswa_7, nama_siswa_8, sep="*")

Hasbi*Habibi*Rendra*Naufal